<body style='width:100%'>
  <main style='width:70%; margin:auto; background-color:gray'>
    <div
      style="height:70px; text-align:center; width:100%; background-color:#00a5bb; border-radius:20px 20px 0 0; display:flex; justify-content:center; align-items:'center';"
    >
    </div>
    <div
      style='padding:2rem 1rem; font-size:1em; min-height:60vh; background-color:rgb(243, 239, 239); text-align:center;'
    >
      <br />
      <br />

      <h3
        style='text-align:center; font-size:1.2em, width:100%; margin:20px 10px;'
      >
        Account Activation
      </h3>
      <p>
        Hi {{name}},
      </p>
      <p>
        Please click below to activate your account
      </p>
      <p>
        <a href="{{url}}" target='_blank'>
          Activate my Account
        </a>
      </p>

      <p>
        This mail is meant for {{
          email
        }}. If you did not request this email you can safely ignore it.
      </p>
    </div>

    <footer
      style='height:70px;display:flex; justify-content:center; text-align:center; width:100%; background-color:#00a5bb; border-radius:0 0 20px 20px; display:flex; justify-content:center;'
    >
      <p style='color:white; width:100%; text-align:center'>
        &copy;2023 Tech Blog IO
      </p>
    </footer>
  </main>
</body>